*{
  padding: 0;
  margin: 0;
}
.home{
  justify-content: center;
  text-align: center;
  color: white;
  background-image:url("../assets/cole.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding:1rem;
}
.home-text{
    font-size: 1.5cm;
    color: blue;
    margin-top: 200px;
   align-items: center;
}
.backimage{
  width: 100%;
}