.navbar{
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar-content{
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-around;
  background-color: darkgray;
}
.logo{
  width: 80px;
  height: 40px;
}
  .logo-basket{
    width: 50px;
    height:50px;
    border-radius:700%;
    margin:1px;
  }
  .logo-header{
    position: relative;
  } 
  .number{
    position: absolute; 
    top: -13%;
    right: 6%;
    color: red;
  }